/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html,
body{
	margin:0;
	padding:0;
	height:100%;
	overflow:hidden;
}

#wrapper{
	position: relative;
	min-height: 100%;
}

#header{
	padding:4px;
	background:#69f;
	height:45px;

}

#content{
	padding-bottom: 100px;

}

#contentmargin{
	margin-left:20%;
}

#footer{
	position:absolute;
	height:50px;
	background:#69f;
	bottom:0px;
	width:100%;
}

#header_logo {
	position:relative;
	font-weight: bold;
	left:15px;
	font-size: 40px;
	color: white;
	font-family: Courier;
}

#listingbutton {
	float:right;
	padding:3px;
	margin-top:10px;
	border:2px solid #fff;
	border-radius: 5px;
	width:20%;
	text-align:center;
}

#listingbutton a{
	font-family:Montserrat;
	text-decoration: none;
	font-size: 20px;
	color:#fff;
}


#footer_links{
	word-spacing: 15px;
	position:relative;
	top:10px;
	left:20px;

}
#footer_links a{
	font-size: 20px;
	text-decoration: none;
	color:white;
	text-shadow:1px 1px 1px black;

}

