// Place all the styles related to the companys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
	font-family:Montserrat;
}
#show{
	padding:10px;
	font-size:30px;
	font-weight:bold;
	text-transform:capitalize;
}

#titles{
	margin-top:10px;
	font-size:28px;
}

.bt10{
	margin-top:10px;
	margin-bottom:10px;
}
.listings{

}


/* Ask Damian how to format rails links such as giving them widths and other features like custom buttons*/


.list_item{
position:relative;
margin-left:10px;
line-height:200%;
top:10px;
color:black;
font-size: 20px;
text-transform:capitalize;

}

.tmargin20{
	position:relative;
	top:20px;
	margin-left:10px;
}