#portrait{
	font-size:30px;
	color:#111;
	padding:80px;
}

#artbackground{
	position:absolute;
	height:95%;
	width:100%;
	background-size:cover;
	background-image:url("hike.jpg");
	opacity:0.7;
	background-position:0px -70px;
}


.leftside{
	float:left;
	margin-left:30%;
}

.rightside{
	float:right;
	margin-right:30%;
}

.missionstatement{
	position:absolute;
	font-weight:bold;
	font-size: 60px;
	text-decoration:underline;
	width:700px;
	margin-top:350px;
}