// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#portrait{
	font-size:80px;
	text-align:center;
}

.leftside{
	float:left;
	margin-left:200px;
}

.rightside{
	float:right;
	margin-right:200px;
}